@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.notification {
  padding: 100px;
  text-align: center;
  background-color: #f4f8fa;
}

.notification h1 {
  font-weight: 100;
}

.new-extension {
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  color: #006400;
  margin: -15px auto;
  text-align: center;
  border-radius: 10px;
  padding: 5px 9px 5px 5px;
  background-color: #d7f8e8;
}

.new-extension:hover {
  cursor: pointer;
}

.content {
  gap: 20px;
  display: flex;
  margin-left: 100px;
  padding-left: 50px;
  flex-direction: row;
}

.image {
  top: 40px;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background: #000000;
}

.image * {
  box-sizing: border-box;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image.icon {
  position: relative;
  display: inline-block;
}

.image.icon i {
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 7rem;
  position: absolute;
  color: rgba(255, 0, 0, 0.7);
  transform: translate(-50%, -50%);
}

.image.icon i:hover {
  cursor: pointer;
  color: #ff0000;
}

.details h3 {
  margin-top: 40px;
  font-weight: 700;
  font-size: larger;
  padding-left: 15px;
}

.ratings {
  font-size: 12px;
  font-weight: 600;
  color: #164bf8;
  margin: 0 0 0 5px;
  padding-left: 10px;
}

.ratings i {
  color: #164bf8;
}

ul {
  padding: 0;
  margin: 15px;
  color: #555;
  font-size: 14px;
  list-style: none;

}

ul li {
  line-height: 1.9;
  margin-bottom: 5px;
}

ul li i {
  color: #027455;
}


.add-button {
  border: none;
  color: white;
  margin-top: 15px;
  font-weight: 600;
  padding: 15px 200px;
  border-radius: 20px;
  background-color: #027455;
}

.add-button:hover {
  cursor: pointer;
  background-color: #2e997d;
}

.install {
  width: 69px;
  margin: 3% 45%;
  font-size: 10px;
  color: #666666c8;
}

/* Responsive Styles for Tablet above 768px */
@media (max-width: 768px) {
  .content {
    gap: 5px;
    margin-left: 0;
    padding-left: 0;
    flex-direction: row;
  }

  .image {
    width: 100%;
    margin: auto;
    height: 250px;
  }

  .add-button {
    width: auto;
    font-size: 14px;
    padding: 5px 25px;

  }


  ul li {
    font-size: 13px;
  }
}

/* Responsive Styles for Mobile (below 768px) */
@media (max-width: 767px) {
  body {
    padding: 20px;
    font-size: 14px;
  }

  .notification {
    height: 250px;
  }

  .content {
    gap: 10px;
    margin-left: 0;
    padding-left: 0;
    flex-direction: column;
  }

  .image {
    width: 80%;
    margin: auto;
    height: 200px;
  }

  .details {
    margin-top: 20px;
  }

  .details h3 {
    font-size: 1.2rem;
    padding-left: 0;
    text-align: center;
  }

  .ratings {
    font-size: 10px;
    padding-left: 0;
    text-align: center;
  }

  ul {
    margin: 10px;
  }

  ul li {
    font-size: 12px;
    line-height: 1.6;
  }

  ul li i {
    font-size: 12px;
  }

  .add-button {
    width: auto;
    font-size: 8px;
    margin: 10px 35% 0;
    padding: 10px 15px;
  }

  .install {
    width: auto;
    font-size: 8px;
    margin: 5px 40% 0;
  }

  .new-extension {
    width: 60%;
    margin: 0 auto;
    font-size: 12px;
    padding: 4px 6px;
  }
}